@model IEnumerable<IntelligentRestaraunt.Models.productViewModel>

@{
    ViewBag.Title = "Item list";

}


<div class="jumbotron">
    <h2>List of all items</h2>

</div>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.productName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productPrice)

        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productPrice)
            </td>
        </tr>
    }

</table>